{%- assign items = site.data.news | sort: 'date' | reverse -%}
{%- if include.limit -%}
  {%- assign items = items | slice: 0, include.limit -%}
{%- endif -%}

<ol class="news-list">
  {%- for n in items -%}
    <li class="news-item">
      <time class="news-date" datetime="{{ n.date | date: '%Y-%m-%d' }}">
        <span class="news-date-month">{{ n.date | date: '%b' | upcase }}</span>
        <span class="news-date-day">{{ n.date | date: '%-d' }}</span>
        <span class="news-date-year">{{ n.date | date: '%Y' }}</span>
      </time>
      <div class="news-body">
        {{ n.text | markdownify | strip | replace: '<p>', '' | replace: '</p>', '' }}
      </div>
    </li>
  {%- endfor -%}
</ol>
